@model  List<PetGrooming.Models.Species>
@{
    ViewBag.Title = "Add";
}

<h2>Add a New Pet</h2>
<a class="button" href="/Pet/List">Back to List</a>

<form method="POST" action="/Pet/Add">
    <label for="PetName">Name:</label><input id="PetName" type="text" name="PetName" /><br />
    <label for="SpeciesID">Species:</label>
    <select id="SpeciesID" type="text" name="SpeciesID">
        @{
            //A rendering loop for presenting a list of species
            //The pet should be one of these species
            foreach (var species in Model)
            {
                <option value="@species.SpeciesID">@species.Name</option>

            }
        }
    </select><br />
    <label for="PetWeight">Weight:</label><input id="PetWeight" type="text" name="PetWeight" />KG <br />
    <label for="PetColor">Color:</label><input id="PetColor" type="text" name="PetColor" /> <br />
    <label for="PetNotes">Notes:</label>
    <textarea id="PetNotes" name="PetNotes">
        </textarea> <br />
    <input type="submit" value="Add Pet">
</form>
