
@{
    ViewBag.Title = "Add";
}

<h2>Add a Species</h2>

<form method="POST" action="/Species/Add">
    <input type="text" name="SpeciesName" id="SpeciesName" />
    <input type="submit" value="Add Species" />
</form>

