@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>Species List</h2>
<a class="button" href="/Species/Add">Add A New Species</a>

<div class="list">
    @{
        foreach (var species in @Model)
        {

            <div class="specieslist">
                    <div class="col1">
                        <span class="name"><a href="/Species/Show/@species.SpeciesID">@species.Name</a></span>
                    </div>
                    <div class="col2">
                        <span class="editlist"><a href="/Species/Update/@species.SpeciesID">Update</a></span>
                        <span class="editlist"><a href="/Species/Delete/@species.SpeciesID">Delete</a></span>
                    </div>
            </div>

        }
    }
</div>